<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
 styles, `#sidebar-checkbox` for behavior. -->
 <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

 <!-- Toggleable sidebar -->
 <div class="sidebar" id="sidebar">
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="/">Home</a>
    <a class="sidebar-nav-item" href="/archive/index.html">Archive</a>
    <a class="sidebar-nav-item" href="https://github.com/danilao">GitHub</a>
    <a class="sidebar-nav-item" href="https://twitter.com/dani_lao">Twitter</a>
    <a class="sidebar-nav-item" href="https://www.facebook.com/pineappslab">Facebook</a>
  </nav>

  <div class="sidebar-item">
      Apps & games:
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="https://play.google.com/store/apps/developer?id=pineappslab">Google Play</a>
    <a class="sidebar-nav-item" href="https://itunes.apple.com/us/developer/daniel-lao-castillo/id1019198514">Apple App Store</a>
    <a class="sidebar-nav-item" href="http://www.amazon.com/s/ref=bl_sr_mobile-apps?_encoding=UTF8&field-brandtextbin=PineappsLab&node=2350149011">Amazon Appstore</a>
  </nav>

  <div class="sidebar-item">
      &copy; 2015. All rights reserved.
  </div>
</div>